body {
	background-color: #dedede;
	background-image: linear-gradient(#ecebeb 50%, transparent 50%, transparent);
	background-size: 10px 10px;
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

ul {
	list-style-type: none;
	margin: -8;
	padding: -8;
	overflow: hidden;
	background-color: #1b2538;
}

li a {
	float: right;
	border-right: 1px solid #bbbbbb;
}

li font {
	float: right;
	border-right: 1px solid #bbbbbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li font {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
}

li

a
:hover
:not

(
.active

)
{
background-color
:

#a9bce2
;


}
.active {
	background-color: #da3c41;
}

.errorMessages {
	text-align: center;
	color: red;
	padding: 10px;
	margin-bottom: 10px;
	border: 5px double #333333;
	border-radius: 10px;
	background-color: white;
	list-style: none;
}

.search {
	text-align: center;
	margin-bottom: 10px;
	margin: 1em 15em;
	border: 5px double #333333;
	border-radius: 10px;
	background-color: #c0c0c0;
	list-style: none;
	text-align: center;
}

.under {
	border-bottom: double 6px #ff0000;
}

.eachMessage {
	padding: 1em 3em;
	margin: 1em 5em;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #f7f7f7;
	border: solid 3px #000000; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.eachMessage p {
	margin: 0;
	padding: 0;
}

.title {
	text-align: center;
}

.category {
	text-align: center;
}

.messageText {
	font-size: large;
}

.eachComment {
	text-align: right;
}

.comment-textBox {
	text-align: right;
}

.date {
	text-align: left;
}

.commentText {
	resize: none;
}

.loginForm {
	text-align: center;
	padding: 1em 1em;
	margin: 1em 15em;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #f7f7f7;
	border: solid 3px #000000; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.welcome {
	text-align: center;
}

.newMessageForm{

	text-align: center;
	padding: 1em 1em;
	margin: 1em 15em;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #f7f7f7;
	border: solid 3px #000000; /*線*/
	border-radius: 10px; /*角の丸み*/

}

.message-textBox{
	resize: none;
}

.userTable{
	width:700px;
	margin-left:auto;
	margin-right:auto;

}

.signUpButton{
	text-align: center;
}

.signUpForm{
	text-align: center;
	padding: 1em 1em;
	margin: 1em 15em;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #f7f7f7;
	border: solid 3px #000000; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.userSettingForm{
	text-align: center;
	padding: 1em 1em;
	margin: 1em 15em;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #f7f7f7;
	border: solid 3px #000000; /*線*/
	border-radius: 10px; /*角の丸み*/
}

